node_modules
coverage
__pycache__
/dist
**/.DS_Store
stats.json
certs
public2
public3
.vscode
session_name.session
tasks.txt
yarn.lock
stats.html
ssh.json
archive.zip

public/*.js
public/*.js.map
public/*.wasm
public/*.css

!public/*.min.*
!public/rlottie-wasm*